# format options

# Write braces according to K&R style.
--allman false

# No comma is added to the trailing element of the array.
--commas inline

# Do not separate numbers with underscores.
--decimalgrouping none
--binarygrouping none
--octalgrouping none
--hexgrouping none

# Maximum length of a line
--maxwidth 100

# Change unused arguments in the closure to underscores.
--stripunusedargs closure-only

# Use trailing closure syntax where applicable.
--trailingclosures

# Arguments of function are line feed from the beginning.
--wraparguments before-first

--tabwidth 4

# file options
--exclude "**/build", "**/.build", DerivedData

# rules
--enable wrapConditionalBodies
--disable wrapMultilineStatementBraces